## Forecast the minutes watched by a viewer in the next two weeks given their viewing behaviour over the last 16 weeks

We have data for about 10,000 viewers of iPlayer that tells us when they watched what programme. We will use this data to try and see whether we can predict how 'loyal' a viewer is. We have no data about the viewers themselves

In [1]:
# Import all relevent libraries to analyse the data
import pandas as pd
import numpy as np
import datetime
import math
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#Set options to display all columns
pd.set_option("display.max_columns",None)

### Import the data and preprocess for analysis

In [3]:
# Load the data into a pandas dataframe and display first couple of rows to see what it looks like
data=pd.read_csv('iplayer_data_sample_janapr2017.csv', parse_dates=['start_date_time'])
data.head()

,user_id,program_id,series_id,genre,programme_duration,streaming_id,start_date_time,time_viewed
0,cd2006,f6d3d8,a282ca,Factual,00:00:21,1486911129420_1,2017-02-12 14:51:24.544,20920.0
1,cd2006,b8fbf2,e0480e,Comedy,00:01:51,1484864257965_1,2017-01-19 22:17:04.648,111285.0
2,cd2006,e2f113,933a1b,Factual,00:00:30,1487099603980_1,2017-02-14 19:12:36.667,29945.0
3,cd2006,0e0916,b68e79,Entertainment,00:01:22,1484773546557_1,2017-01-18 21:05:11.466,82620.0
4,cd2006,ca03b9,5d0813,Sport,00:01:37,1486911176609_1,2017-02-12 14:52:08.965,97444.0

In [4]:
# Enhance the data with a few additional columns that make it easier to analyse the data 

# Get the weekday
def get_weekday(formated_time):
    return 'weekday_' + str(formated_time.weekday())

# Get the two-week number. We will forecast the minutes watched in the last two weeks
# Python3 rounds 0.5 up and down depending on the integer so we can't use round function
def get_twoweeknumber(formated_time):
    return math.floor(formated_time.isocalendar()[1]/2.0)


# Get the time of day
def get_timeofday(formated_time):
    hour=formated_time.hour
    if hour in range(5,13):
        return 'Morning'
    elif hour in range(13,18):
        return 'Afternoon'
    elif hour in range(18,23):
        return 'Evening'
    else:
        return 'Night'

# Parse the programme duration and turn it into minutes so that we can compute the percentage of time watched
def parse_programme_duration(unformated_time):
    try:
        timeparts=unformated_time.split(':')
        return int(timeparts[0])*60.0+int(timeparts[1])+int(timeparts[2])/60.0
    except:
        return

In [5]:
# Apply the functions to the dataframe
data['weekday']=data['start_date_time'].apply(get_weekday)
data['time_of_day']=data['start_date_time'].apply(get_timeofday)
data['programme_duration_mins']=data['programme_duration'].apply(parse_programme_duration)
data['twoweek']=data['start_date_time'].apply(get_twoweeknumber)

# I noticed some negative time viewed in the data, so assume that is error and make positive
data['time_viewed']=abs(data['time_viewed'])

# Convert time viewed and length of programme into minutes
data['min_watched']=data['time_viewed']/(60000.0)

data.head()

,user_id,program_id,series_id,genre,programme_duration,streaming_id,start_date_time,time_viewed,weekday,time_of_day,programme_duration_mins,twoweek,min_watched
0,cd2006,f6d3d8,a282ca,Factual,00:00:21,1486911129420_1,2017-02-12 14:51:24.544,20920.0,weekday_6,Afternoon,0.350000,3,0.348667
1,cd2006,b8fbf2,e0480e,Comedy,00:01:51,1484864257965_1,2017-01-19 22:17:04.648,111285.0,weekday_3,Evening,1.850000,1,1.854750
2,cd2006,e2f113,933a1b,Factual,00:00:30,1487099603980_1,2017-02-14 19:12:36.667,29945.0,weekday_1,Evening,0.500000,3,0.499083
3,cd2006,0e0916,b68e79,Entertainment,00:01:22,1484773546557_1,2017-01-18 21:05:11.466,82620.0,weekday_2,Evening,1.366667,1,1.377000
4,cd2006,ca03b9,5d0813,Sport,00:01:37,1486911176609_1,2017-02-12 14:52:08.965,97444.0,weekday_6,Afternoon,1.616667,3,1.624067

### Review the data to make sure we don't have anything too weird happening

In [6]:
# Check whether there is anything weird happening with our numerical values
data.describe()

        time_viewed  programme_duration_mins        twoweek    min_watched
count  4.889520e+05            457154.000000  490852.000000  488952.000000
mean   8.566017e+05                37.965896       4.291923      14.276694
std    3.491019e+06                43.716212       3.490338      58.183645
min    0.000000e+00                 0.000000       0.000000       0.000000
25%    3.935000e+03                 0.500000       2.000000       0.065583
50%    8.194200e+04                30.000000       4.000000       1.365700
75%    9.219720e+05                59.000000       6.000000      15.366200
max    8.515021e+08               720.000000      26.000000   14191.701283

In [7]:
# Check how many missing and unique values there are per column
features=data.columns.values
for feature in features:
    print(feature,'- Missing:', sum(data[feature].isnull()),'- Unique:', len(data[feature].unique()))

user_id - Missing: 0 - Unique: 9937
program_id - Missing: 33698 - Unique: 23857
series_id - Missing: 33698 - Unique: 5921
genre - Missing: 67719 - Unique: 12
programme_duration - Missing: 33698 - Unique: 891
streaming_id - Missing: 0 - Unique: 434430
start_date_time - Missing: 0 - Unique: 490626
time_viewed - Missing: 1900 - Unique: 259529
weekday - Missing: 0 - Unique: 7
time_of_day - Missing: 0 - Unique: 4
programme_duration_mins - Missing: 33698 - Unique: 891
twoweek - Missing: 0 - Unique: 10
min_watched - Missing: 1900 - Unique: 259529

So we will want to impute the genre to reduce the amount of missing data. After that the most useful column to impute is programme_duration. <br>
We could think about imputing series_id as well if we wanted to get really clever at a later stage. For the other missing variables imputation probably makes little sense.

In [8]:
# let's see whether we can guess the genre based on the series_id
series_mapping=pd.pivot_table(data,values='streaming_id', index=['series_id'],columns=['genre'], aggfunc=len).idxmax(axis=1)
series_mapping=pd.DataFrame(series_mapping).reset_index().rename(columns={0:'enriched_genre'})
series_mapping.head()

  series_id enriched_genre
0    001b96        Factual
1    00389f        Factual
2    00400b     Children's
3    00434d        Factual
4    0079b7        Factual

In [9]:
# let's merge in the genre back into the data
data=pd.merge(data,series_mapping,how='left',on='series_id')
data[data['genre'].isnull()].head()

,user_id,program_id,series_id,genre,programme_duration,streaming_id,start_date_time,time_viewed,weekday,time_of_day,programme_duration_mins,twoweek,min_watched,enriched_genre
134,3387a6,47f8c1,c9cc1a,NaN,00:00:00,1485900618555_1,2017-01-31 22:10:20.049,3584.0,weekday_1,Evening,0.0,2,0.059733,Factual
140,3387a6,NaN,NaN,NaN,NaN,1489439401348_1,2017-03-13 21:10:02.421,3730.0,weekday_0,Evening,NaN,5,0.062167,NaN
141,3387a6,NaN,NaN,NaN,NaN,1485100892026_1,2017-01-22 16:01:34.292,3634.0,weekday_6,Afternoon,NaN,1,0.060567,NaN
142,3387a6,NaN,NaN,NaN,NaN,1489441109070_3,2017-03-13 21:38:30.203,3651.0,weekday_0,Evening,NaN,5,0.060850,NaN
143,3387a6,NaN,NaN,NaN,NaN,1493538827057_2,2017-04-30 07:53:47.559,3665.0,weekday_6,Morning,NaN,8,0.061083,NaN

In [10]:
# Check how many missing and unique values there are per column
features=data.columns.values
for feature in features:
    print(feature,'- Missing:', sum(data[feature].isnull()),'- Unique:', len(data[feature].unique()))

user_id - Missing: 0 - Unique: 9937
program_id - Missing: 33698 - Unique: 23857
series_id - Missing: 33698 - Unique: 5921
genre - Missing: 67719 - Unique: 12
programme_duration - Missing: 33698 - Unique: 891
streaming_id - Missing: 0 - Unique: 434430
start_date_time - Missing: 0 - Unique: 490626
time_viewed - Missing: 1900 - Unique: 259529
weekday - Missing: 0 - Unique: 7
time_of_day - Missing: 0 - Unique: 4
programme_duration_mins - Missing: 33698 - Unique: 891
twoweek - Missing: 0 - Unique: 10
min_watched - Missing: 1900 - Unique: 259529
enriched_genre - Missing: 43829 - Unique: 12

In [11]:
# What genre is the most popular at which time of day
genre_by_time=pd.pivot_table(data,values='streaming_id', index=['time_of_day'],columns=['enriched_genre'], aggfunc=len).idxmax(axis=1)
genre_by_time=pd.DataFrame(genre_by_time).reset_index().rename(columns={0:'enriched_genre'})
genre_by_time

  time_of_day enriched_genre
0   Afternoon        Factual
1     Evening        Factual
2     Morning        Factual
3       Night        Factual

In [ ]:
# Function that imputes a genre based on time of day if data is missing
def impute_genre(row):
    if isinstance(row['genre'],str):
        return row['genre']
    elif isinstance(row['enriched_genre'],str):
        return row['enriched_genre']
    else:
        return 'Factual'

In [ ]:
# Apply the function to the dataframe
data['enriched_genre']=data.apply(impute_genre, axis=1)

In [ ]:
# Check whether this has worked
data[data['genre'].isnull()].head()

In [ ]:
# Check the average length of a programme based on genre 
length_by_genre=data.groupby('genre')['programme_duration_mins'].median()
length_by_genre=pd.DataFrame(length_by_genre).reset_index().rename(columns={'programme_duration_mins':'enriched_duration_mins'})
length_by_genre

In [ ]:
# Function that imputes a length of programme based on genre if data is missing
def impute_duration(row):
    if row['programme_duration_mins']>0:
        return row['programme_duration_mins']
    else:
        if row['enriched_genre']=="Children's":
            return 15.0
        elif row['enriched_genre']=="Comedy":
            return 28.0
        elif row['enriched_genre']=="Drama":
            return 45.0
        elif row['enriched_genre']=="Entertainment":
            return 30.0
        elif row['enriched_genre']=="Factual":
            return 45.0
        elif row['enriched_genre']=="Learning":
            return 10.0
        elif row['enriched_genre']=="Music":
            return 60.0
        elif row['enriched_genre']=="News":
            return 30.0
        elif row['enriched_genre']=="Religion & Ethics":
            return 60.0
        elif row['enriched_genre']=="Sport":
            return 80.0
        elif row['enriched_genre']=="Weather":
            return 30.0

In [ ]:
# Apply the function to the dataframe
data['enhanced_duration_mins']=data.apply(impute_duration, axis=1)

In [ ]:
# Check whether this has worked
data[data['programme_duration_mins'].isnull()].head()

In [ ]:
# Clean up the percentage watched field from when the number is more than 100%
def clean_perc_watched(number):
    return min(number,1)

In [ ]:
# Calculate how much of the programme the viewer watched
data['percentage_watched']=(data['min_watched']/data['enhanced_duration_mins'])

# Clean up percentaged watched from anything bigger than 100%
data['percentage_watched']=data['percentage_watched'].apply(clean_perc_watched)

In [ ]:
# How is our data looking after that imputation?
features=data.columns.values
for feature in features:
    print(feature,'- Missing:', sum(data[feature].isnull()),'- Unique:', len(data[feature].unique()))

In [ ]:
data.head()

In [ ]:
# Since in Python weeks start on Monday, we will ignore the 1st of January as this was a Sunday and would give
# us only part of a week. So we will drop that date
data=data[data['start_date_time']>'2017-01-02']

In [ ]:
# Check the distribution of our numerical values
data['programme_duration_mins'].hist(bins=50)

In [ ]:
data[data['min_watched']<200]['min_watched'].hist(bins=50)

In [ ]:
data['percentage_watched'].hist(bins=50)

In [ ]:
# Check whether we have more or less the same amount of data for each two week period
data['twoweek'].value_counts().plot(kind='bar')

In [ ]:
# Check distribution of categorical values
data['genre'].value_counts().plot(kind='bar')

In [ ]:
data['enriched_genre'].value_counts().plot(kind='bar')

In [ ]:
data['time_of_day'].value_counts().plot(kind='bar')

### Preparing the data for the prediction task

In [ ]:
# based on the data above, we will drop week 0
data=data[data['twoweek']>0]

# Ensuring that we only train on the data we should have
data_training=data[data['twoweek']<7]
data_val=data[data['twoweek']<8]
data_test=data[data['twoweek']==8]

In [ ]:
# Create a function that pivots the data based on customer and gives us all the data we need
def pivot_data(dataframe):
    data=pd.pivot_table(dataframe,values='min_watched', index=['user_id'],columns=['twoweek'], aggfunc=sum)
    data.fillna(0,inplace=True)
    # How much of average did each viewer watch?
    data['average_completion']=dataframe.groupby('user_id')['percentage_watched'].mean()
    # How many sessions did the person have with us
    data['total_sessions']=dataframe.groupby('user_id')['streaming_id'].nunique()
    # How much did the viewer watch in total this year sop far
    data['total_watched']=dataframe.groupby('user_id')['min_watched'].sum()
    # How many times has the viewer watched something
    data['number_watched']=dataframe.groupby('user_id')['streaming_id'].count()
    # Genre most watched by the viewer
    data['most_genre']=pd.pivot_table(dataframe,values='min_watched', index=['user_id'],\
                                         columns=['enriched_genre'], aggfunc=sum).idxmax(axis=1)
    # Number of genres watched
    data['num_genre']=pd.pivot_table(dataframe,values='min_watched', index=['user_id'],\
                                         columns=['enriched_genre'], aggfunc=sum).count(axis=1)
    # Favourite day of the week to watch
    data['most_weekday']=pd.pivot_table(dataframe,values='min_watched', index=['user_id'],\
                                         columns=['weekday'], aggfunc=sum).idxmax(axis=1)
    # Number of weekdays watched
    data['num_weekday']=pd.pivot_table(dataframe,values='min_watched', index=['user_id'],\
                                         columns=['weekday'], aggfunc=sum).count(axis=1)
    # Favorite time of day to watch
    data['most_timeday']=pd.pivot_table(dataframe,values='min_watched', index=['user_id'],\
                                         columns=['time_of_day'], aggfunc=sum).idxmax(axis=1)
    # Number of times of day
    data['num_timeday']=pd.pivot_table(dataframe,values='min_watched', index=['user_id'],\
                                         columns=['time_of_day'], aggfunc=sum).count(axis=1)
    return data

In [ ]:
data_viewer=pivot_data(data_training)
data_viewer.reset_index().head()

In [ ]:
# Turn our categorical variables into bins so that we can run models on this
data_viewer=pd.get_dummies(data_viewer).reset_index()
data_viewer.head()

In [ ]:
# Setting up our target variables for our model (both the regression and the classification)
# Need to make sure we have the same user_id's as in our feature set (and in the same order)
target_min=pd.pivot_table(data_val,values='min_watched', index=['user_id'],columns=['twoweek'], aggfunc=sum)[7].reset_index()
target_min=target_min.fillna(0)

# Find the unique users in both the features and the target
users_target=target_min['user_id'].unique()
users_features=data_viewer['user_id'].unique()


# Find those users that are in the target but not in the feature
target_not_feature=[]
for user in users_target:
    if user not in users_features:
        target_not_feature.append(user)

# Find those users that are in the feature but not in the target
feature_not_target=[]
for user in users_features:
    if user not in users_target:
        feature_not_target.append(user)

# Print the size of the two sets
print('In target but not feature:',len(target_not_feature),'- In feature but not target:' ,len(feature_not_target))

Since we have only issues with the target set, we will be able to just cleanse that set and don't need to worry about the feature set

In [ ]:
# We will set the index to the user_id as this will make it easier to drop rows
# Then we drop the rows and then turn the remaining column into an array
target_min_clean=target_min.set_index(['user_id'])
target_min_clean.drop(target_not_feature,inplace=True)
target_min_clean.reset_index(inplace=True)
target_min_clean=target_min_clean[7].values

# Now we create the variables for the classification
target_class=[]
for user in target_min_clean:
    if user>0:
        target_class.append(1)
    else:
        target_class.append(0)
        
# Check to make sure the outcome makes sense
print(target_min_clean[:10])
print(target_class[:10])

### Building the models

In [ ]:
# Let's build a simple tree based classification model
from sklearn import tree

# We will use cross validation, so import helper functions for this
from sklearn.model_selection import cross_val_score, cross_val_predict

In [ ]:
# Let's prepare the data we need
# We will fill remaining missing values with 0s as we don't know any better
features=data_viewer.drop(['user_id'],axis=1)
features.fillna(0,inplace=True)

In [ ]:
# Let's check the size of our datasets
print('Number of samples in feature set:',len(features))
print('Number of samples in target set (classification):',len(target_class))
print('Number of samples in target set (regression):',len(target_min_clean))

In [ ]:
# setup the model and develop a simple grid search against some key parameters
param_max_depth=[3,4,6,8,10]
param_min_leaf=[10,50,100,200]

# Let's keep track of our best parameters
best_score=0
best_param=[0,0]


for i in param_max_depth:
    for j in param_min_leaf:
        treeclass=tree.DecisionTreeClassifier(max_depth=i,min_samples_leaf=j)
        scores=cross_val_score(treeclass,features,target_class,scoring='accuracy')
        if np.mean(scores)>best_score:
            best_score=np.mean(scores)
            best_param=[i,j]
        print('Max Depth:',i, '- Min Sample Leaf:',j)
        print('Score:',np.mean(scores),'-',scores)

# print the overall best results
print('\nBest Model overall:')
print('Best Settings: Max Depth:',best_param[0], '- Min Sample Leaf:',best_param[1])
print('Score:', best_score)

In [ ]:
# Let's build a simple regression
from sklearn import linear_model

We can reuse the features from above

In [ ]:
# We setup a simple linear regression, again using cross validation
reg = linear_model.LinearRegression()

predicted = cross_val_predict(reg, features,target_min_clean, cv=4)

# Let us plot the predicted and actual values
fig, ax = plt.subplots()
ax.scatter(target_min_clean, predicted)
ax.plot([target_min_clean.min(), target_min_clean.max()], [target_min_clean.min(), target_min_clean.max()], 'k--', lw=1)
ax.set_xlabel('Measured')
ax.set_ylabel('Predicted')
plt.show()

In [ ]:
# Or we could also look at the score of the regression models
cross_val_score(reg, features,target_min_clean, cv=4)

It looks quite varied, so we probably need to put in a bit more effort into our model. <br>
Another thing we could do at this point is to only build a regression model for the not zero values and then combine the results with our classification model. <br>